
body {
	background-color: gray;
}


.table1 {
    color: gray;
    font-size: 66px
    font-weight:bold;
    width: 170px;
    height: 20px;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    position: fixed;
    margin-bottom: -100px;
	
}

.table2 {
	  border: 5px ridge gray;
    color: white;
    background-color: black;
    opacity: 0.8;
    font-size: 26px
    font-weight:bold;
    width: 70px;
    height: 60px;
    position: absolute;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    transform: rotate(-05deg);
}



.table3 {
	  border: 5px ridge gray;
    color: white;
    background-color: black;
    opacity: 0.8;
    font-size: 26px
    font-weight:bold;
    width: 70px;
    height: 60px;
    position: absolute;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    position: absolute;
    transform: rotate(05deg);
    
}

.table4 {
	  border: 5px ridge gray;
    color: white;
    background-color: black;
    opacity: 0.8;
    font-size: 26px
    font-weight:bold;
    width: 70px;
    height: 60px;
    position: absolute;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    position: absolute;
    transform: rotate(20deg);
}

.table5 {
	  border: 5px ridge gray;
    color: white;
    background-color: black;
    opacity: 0.8;
    font-size: 26px
    font-weight:bold;
    width: 70px;
    height: 60px;
    position: absolute;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    position: absolute;
    transform: rotate(-10deg);
}

.table6 {
	  border: 5px ridge gray;
    color: white;
    background-color: black;
    opacity: 0.8;
    font-size: 26px
    font-weight:bold;
    width: 70px;
    height: 60px;
    position: absolute;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    position: absolute;
    transform: rotate(05deg);
}
.table7 {
	  border: 5px ridge gray;
    color: white;
    background-color: black;
    opacity: 0.8;
    font-size: 26px
    font-weight:bold;
    width: 70px;
    height: 60px;
    position: absolute;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    position: absolute;
}

.button1 { 
    margin-left: 85px;
    margin-top: -229;
    opacity: 0.8;
    width:30px;
    

}

.button2 { 
    margin-left: 85px;
    margin-top: 20;
    opacity: 0.8;
    width: 30;
    

}

.button3 { 
    margin-left: 85px;
    margin-top: 20;
    opacity: 0.8;
    width: 30;
    

}

.button4 { 
    margin-left: 85px;
    margin-top: 20;
    opacity: 0.8;
    width: 30;
    

}

.button5 { 
    margin-left: 85px;
    margin-top: 20;
    opacity: 0.8;
    width: 30;
    

}

.button6 { 
    margin-left: 85px;
    margin-top: 20;
    opacity: 0.8;
    width: 30;
    

}


.block1 {
	width: 1100px;
	height: 700px;
	margin-left: 200px;
	margin-top: -150
}

iframe{
	width: 1100px;
	height: 700px;
	border: 2px ridge #633606;
	margin-left: 200px;
	margin-top: -150
}



.hit1 {
	-moz-box-shadow:inset 8px 4px 8px -18px #fff6af;
	-webkit-box-shadow:inset 8px 4px 8px -18px #fff6af;
	box-shadow:inset 8px 4px 8px -18px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c2fff7), color-stop(1, #914420));
	background:-moz-linear-gradient(top, #c2fff7 5%, #914420 100%);
	background:-webkit-linear-gradient(top, #c2fff7 5%, #914420 100%);
	background:-o-linear-gradient(top, #c2fff7 5%, #914420 100%);
	background:-ms-linear-gradient(top, #c2fff7 5%, #914420 100%);
	background:linear-gradient(to bottom, #c2fff7 5%, #914420 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2fff7', endColorstr='#914420',GradientType=0);
	background-color:#c2fff7;
	-moz-border-radius:40px;
	-webkit-border-radius:40px;
	border-radius:40px;
	border:2px solid #d67003;
	display:inline-block;
	cursor:crosshair;
	color:#8c4100;
	font-family:Courier New;
	font-size:14px;
	font-weight:bold;
	padding:0px 1px;
	text-decoration:none;
}
.hit1:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #914420), color-stop(1, #c2fff7));
	background:-moz-linear-gradient(top, #914420 5%, #c2fff7 100%);
	background:-webkit-linear-gradient(top, #914420 5%, #c2fff7 100%);
	background:-o-linear-gradient(top, #914420 5%, #c2fff7 100%);
	background:-ms-linear-gradient(top, #914420 5%, #c2fff7 100%);
	background:linear-gradient(to bottom, #914420 5%, #c2fff7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#914420', endColorstr='#c2fff7',GradientType=0);
	background-color:#914420;
}
.hit1:active {
	position:relative;
	top:1px;
}

.hit2 {
	-moz-box-shadow:inset 8px 4px 8px -18px #fff6af;
	-webkit-box-shadow:inset 8px 4px 8px -18px #fff6af;
	box-shadow:inset 8px 4px 8px -18px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c2fff7), color-stop(1, #914420));
	background:-moz-linear-gradient(top, #c2fff7 5%, #914420 100%);
	background:-webkit-linear-gradient(top, #c2fff7 5%, #914420 100%);
	background:-o-linear-gradient(top, #c2fff7 5%, #914420 100%);
	background:-ms-linear-gradient(top, #c2fff7 5%, #914420 100%);
	background:linear-gradient(to bottom, #c2fff7 5%, #914420 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2fff7', endColorstr='#914420',GradientType=0);
	background-color:#c2fff7;
	-moz-border-radius:40px;
	-webkit-border-radius:40px;
	border-radius:40px;
	border:2px solid #d67003;
	display:inline-block;
	cursor:crosshair;
	color:#8c4100;
	font-family:Courier New;
	font-size:14px;
	font-weight:bold;
	padding:0px 1px;
	text-decoration:none;
}
.hit2:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #914420), color-stop(1, #c2fff7));
	background:-moz-linear-gradient(top, #914420 5%, #c2fff7 100%);
	background:-webkit-linear-gradient(top, #914420 5%, #c2fff7 100%);
	background:-o-linear-gradient(top, #914420 5%, #c2fff7 100%);
	background:-ms-linear-gradient(top, #914420 5%, #c2fff7 100%);
	background:linear-gradient(to bottom, #914420 5%, #c2fff7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#914420', endColorstr='#c2fff7',GradientType=0);
	background-color:#914420;
}
.hit2:active {
	position:relative;
	top:1px;
}

.hit3 {
	-moz-box-shadow:inset 8px 4px 8px -18px #fff6af;
	-webkit-box-shadow:inset 8px 4px 8px -18px #fff6af;
	box-shadow:inset 8px 4px 8px -18px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c2fff7), color-stop(1, #914420));
	background:-moz-linear-gradient(top, #c2fff7 5%, #914420 100%);
	background:-webkit-linear-gradient(top, #c2fff7 5%, #914420 100%);
	background:-o-linear-gradient(top, #c2fff7 5%, #914420 100%);
	background:-ms-linear-gradient(top, #c2fff7 5%, #914420 100%);
	background:linear-gradient(to bottom, #c2fff7 5%, #914420 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2fff7', endColorstr='#914420',GradientType=0);
	background-color:#c2fff7;
	-moz-border-radius:40px;
	-webkit-border-radius:40px;
	border-radius:40px;
	border:2px solid #d67003;
	display:inline-block;
	cursor:crosshair;
	color:#8c4100;
	font-family:Courier New;
	font-size:14px;
	font-weight:bold;
	padding:0px 1px;
	text-decoration:none;
}
.hit3:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #914420), color-stop(1, #c2fff7));
	background:-moz-linear-gradient(top, #914420 5%, #c2fff7 100%);
	background:-webkit-linear-gradient(top, #914420 5%, #c2fff7 100%);
	background:-o-linear-gradient(top, #914420 5%, #c2fff7 100%);
	background:-ms-linear-gradient(top, #914420 5%, #c2fff7 100%);
	background:linear-gradient(to bottom, #914420 5%, #c2fff7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#914420', endColorstr='#c2fff7',GradientType=0);
	background-color:#914420;
}
.hit3:active {
	position:relative;
	top:1px;
}

.hit4 {
	-moz-box-shadow:inset 8px 4px 8px -18px #fff6af;
	-webkit-box-shadow:inset 8px 4px 8px -18px #fff6af;
	box-shadow:inset 8px 4px 8px -18px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c2fff7), color-stop(1, #914420));
	background:-moz-linear-gradient(top, #c2fff7 5%, #914420 100%);
	background:-webkit-linear-gradient(top, #c2fff7 5%, #914420 100%);
	background:-o-linear-gradient(top, #c2fff7 5%, #914420 100%);
	background:-ms-linear-gradient(top, #c2fff7 5%, #914420 100%);
	background:linear-gradient(to bottom, #c2fff7 5%, #914420 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2fff7', endColorstr='#914420',GradientType=0);
	background-color:#c2fff7;
	-moz-border-radius:40px;
	-webkit-border-radius:40px;
	border-radius:40px;
	border:2px solid #d67003;
	display:inline-block;
	cursor:crosshair;
	color:#8c4100;
	font-family:Courier New;
	font-size:14px;
	font-weight:bold;
	padding:0px 1px;
	text-decoration:none;
}
.hit4:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #914420), color-stop(1, #c2fff7));
	background:-moz-linear-gradient(top, #914420 5%, #c2fff7 100%);
	background:-webkit-linear-gradient(top, #914420 5%, #c2fff7 100%);
	background:-o-linear-gradient(top, #914420 5%, #c2fff7 100%);
	background:-ms-linear-gradient(top, #914420 5%, #c2fff7 100%);
	background:linear-gradient(to bottom, #914420 5%, #c2fff7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#914420', endColorstr='#c2fff7',GradientType=0);
	background-color:#914420;
}
.hit4:active {
	position:relative;
	top:1px;
}

.hit5 {
	-moz-box-shadow:inset 8px 4px 8px -18px #fff6af;
	-webkit-box-shadow:inset 8px 4px 8px -18px #fff6af;
	box-shadow:inset 8px 4px 8px -18px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c2fff7), color-stop(1, #914420));
	background:-moz-linear-gradient(top, #c2fff7 5%, #914420 100%);
	background:-webkit-linear-gradient(top, #c2fff7 5%, #914420 100%);
	background:-o-linear-gradient(top, #c2fff7 5%, #914420 100%);
	background:-ms-linear-gradient(top, #c2fff7 5%, #914420 100%);
	background:linear-gradient(to bottom, #c2fff7 5%, #914420 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2fff7', endColorstr='#914420',GradientType=0);
	background-color:#c2fff7;
	-moz-border-radius:40px;
	-webkit-border-radius:40px;
	border-radius:40px;
	border:2px solid #d67003;
	display:inline-block;
	cursor:crosshair;
	color:#8c4100;
	font-family:Courier New;
	font-size:14px;
	font-weight:bold;
	padding:0px 1px;
	text-decoration:none;
}
.hit5:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #914420), color-stop(1, #c2fff7));
	background:-moz-linear-gradient(top, #914420 5%, #c2fff7 100%);
	background:-webkit-linear-gradient(top, #914420 5%, #c2fff7 100%);
	background:-o-linear-gradient(top, #914420 5%, #c2fff7 100%);
	background:-ms-linear-gradient(top, #914420 5%, #c2fff7 100%);
	background:linear-gradient(to bottom, #914420 5%, #c2fff7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#914420', endColorstr='#c2fff7',GradientType=0);
	background-color:#914420;
}
.hit5:active {
	position:relative;
	top:1px;
}

.hit6 {
	-moz-box-shadow:inset 8px 4px 8px -18px #fff6af;
	-webkit-box-shadow:inset 8px 4px 8px -18px #fff6af;
	box-shadow:inset 8px 4px 8px -18px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c2fff7), color-stop(1, #914420));
	background:-moz-linear-gradient(top, #c2fff7 5%, #914420 100%);
	background:-webkit-linear-gradient(top, #c2fff7 5%, #914420 100%);
	background:-o-linear-gradient(top, #c2fff7 5%, #914420 100%);
	background:-ms-linear-gradient(top, #c2fff7 5%, #914420 100%);
	background:linear-gradient(to bottom, #c2fff7 5%, #914420 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2fff7', endColorstr='#914420',GradientType=0);
	background-color:#c2fff7;
	-moz-border-radius:40px;
	-webkit-border-radius:40px;
	border-radius:40px;
	border:2px solid #d67003;
	display:inline-block;
	cursor:crosshair;
	color:#8c4100;
	font-family:Courier New;
	font-size:14px;
	font-weight:bold;
	padding:0px 1px;
	text-decoration:none;
}
.hit6:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #914420), color-stop(1, #c2fff7));
	background:-moz-linear-gradient(top, #914420 5%, #c2fff7 100%);
	background:-webkit-linear-gradient(top, #914420 5%, #c2fff7 100%);
	background:-o-linear-gradient(top, #914420 5%, #c2fff7 100%);
	background:-ms-linear-gradient(top, #914420 5%, #c2fff7 100%);
	background:linear-gradient(to bottom, #914420 5%, #c2fff7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#914420', endColorstr='#c2fff7',GradientType=0);
	background-color:#914420;
}
.hit6:active {
	position:relative;
	top:1px;
}


.myCheckbox1 input {
    position: absolute;
    margin-top: -776px;
    margin-left: 120px;
    
   
}

.myCheckbox1 span {
    width: 20px;
    height: 20px;
    display: block;
    background: url("link_to_image");
}

.myCheckbox1 input:checked + span {
    background: url("forest.png");
}

.myCheckbox2 input {
    position: absolute;
    margin-top: -754px;
    margin-left: 120px;
   
}

.myCheckbox2 span {
    width: 20px;
    height: 20px;
    display: block;
    background: url("link_to_image");
}

.myCheckbox2 input:checked + span {
    background: url("forest.png");
}

.myCheckbox3 input {
  position: absolute;
    margin-top: -735px;
    margin-left: 120px;
}

.myCheckbox3 span {
    width: 20px;
    height: 20px;
    display: block;
    background: url("link_to_image");
}

.myCheckbox3 input:checked + span {
    background: url("forest.png");
}

.myCheckbox4 input {
    position: absolute;
    margin-top: -715px;
    margin-left: 120px;
}

.myCheckbox4 span {
    width: 20px;
    height: 20px;
    display: block;
    background: url("link_to_image");
}

.myCheckbox4 input:checked + span {
    background: url("forest.png");
}

.myCheckbox5 input {
     position: absolute;
    margin-top: -695px;
    margin-left: 120px;
}

.myCheckbox5 span {
    width: 20px;
    height: 20px;
    display: block;
    background: url("link_to_image");
}

.myCheckbox5 input:checked + span {
    background: url("forest.png");
}

.myCheckbox6 input {
     position: absolute;
    margin-top: -675px;
    margin-left: 120px;
}

.myCheckbox6 span {
    width: 20px;
    height: 20px;
    display: block;
    background: url("link_to_image");
}

.myCheckbox6 input:checked + span {
    background: url("forest.png");
}




.comp1 {
	border: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 100px;
	right: 100px;
	width: 100%;
	height: 100%;
	display: none;
	width: 1100px;
	height: 800px;
	margin-left: 200px;
	margin-top: -150px;
	background-color: white;
	
}

.comp2 {
	border: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 100px;
	right: 100px;
	width: 100%;
	height: 100%;
	display: none;
	width: 1100px;
	height: 800px;
	margin-left: 200px;
	margin-top: -150px;
	background-color: white;
	
}

.comp3 {
	border: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 100px;
	right: 100px;
	width: 100%;
	height: 100%;
	display: none;
	width: 1100px;
	height: 800px;
	margin-left: 200px;
	margin-top: -150px;
	background-color: white;
	
}

.comp4 {
	border: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 100px;
	right: 100px;
	width: 100%;
	height: 100%;
	display: none;
	width: 1100px;
	height: 800px;
	margin-left: 200px;
	margin-top: -150px;
	background-color: white;
}

.comp5 {
	border: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 100px;
	right: 100px;
	width: 100%;
	height: 100%;
	display: none;
	width: 1100px;
	height: 800px;
	margin-left: 200px;
	margin-top: -150px;
	background-color: white;
	
}

.comp6 {
	border: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 100px;
	right: 100px;
	width: 100%;
	height: 100%;
	display: none;
	width: 1100px;
	height: 800px;
	margin-left: 200px;
	margin-top: -150px;
	background-color: white;
}

.line1 {
	border: 2px solid yellow;
	width: 1px;
	height: 900px;
	margin-top: -700px;
}

.line2 {
	border: 2px solid yellow;
	width: 1px;
	height: 900px;
	margin-top: -900px;
	margin-left: 95px;

}

.line3 {
	border: 2px solid yellow;
	width: 1300px;
	height: 1px;
	margin-top: -1165px;
	margin-left: 95px;

}

