body {
    width: 700px;
    height: 700px;
  border: 20px solid
  #FFDB06;
  margin: auto;
}


#trapezoid03 {
	border-bottom: 90px solid black;
	border-left: 200px solid transparent;
	border-right: 90px solid transparent;
height: 0px;
	width: 300px;
	position: absolute;
	top:190px;
	left: 170px;
	opacity: 0.5;
}
 


.shape:hover {
  background-color: #2B3A5A;
}
 
.shape-two {
	position: absolute;
	top: 130px;
	left: 10px;
	width: 50px;
	height: 70px;
	background-color: black;
	opacity: 0.5;
}

.shape-two:hover {
  background-color: #75C0CF;
}
 
.shape-three {
	position: absolute;
	top: 145px;
	left: 35px;
	width: 120px;
	height: 20px;
	background-color: black;
	opacity: 0.4;
}

.shape-three:hover {
background-color: #4CA6BD;
}

#trapezoid02 {
	border-bottom: 150px solid black;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
height: 0px;
	width: 300px;
	position: absolute;
	top:50px;
	left: 170px;
	opacity: 0.4;
}

.container1:hover {
background-color: #BCE9F7;
 
}
 
.shape1 {
	width:100px;
	height: 220px;
	background-color: black;
	position: absolute;
	top: 120px;
	left: 130px;
	opacity: 0.5;
}

.shape1:hover {
  background-color: #BCE9F7;
}
 
.shape2 {
	position: absolute;
	top: 130px;
	left: 110px;
	width: 550px;
	height: 70px;
	background-color:black;
	opacity: 0.4;
}

.shape2:hover {
  background-color: #BCE9F7;
}
 
.shape3 {
	position: absolute;
	top: 45px;
	left: 135px;
	width: 70px;
	height: 120px;
	background-color: black;
	opacity: 0.3;
}

.shape3:hover {
  background-color: #2B3A5A;
}

.shape4 {
	position: absolute;
	top: 45px;
	left: 335px;
	width: 80px;
	height: 120px;
	background-color: black;
	opacity: 0.4;
}

.shape4:hover {
  background-color: #4CA6BD;
}


.container2 {
	width: 900px;
	height: 150px;
	background-color: black;
	position: absolute;
	top:90px;
	left: 470px;
	opacity: 0.3;
}

.container2:hover {
  background-color: #BCE9F7;
}
 
.shape5 {
	width:100px;
	height: 220px;
	background-color: black;
	position: absolute;
	top: 90px;
	left: 430px;
	opacity: 0.3;
}

.shape5:hover {
 background-color: #2E7C9B; 
}
 
.shape6 {
	position: absolute;
	top: 180px;
	left: 310px;
	width: 350px;
	height: 130px;
	background-color: black;
	opacity: 0.3;
}

.shape6:hover {
  	background-color: #97CED9;
}
 
.shape7 {
	position: absolute;
	top: 45px;
	left: 635px;
	width: 70px;
	height: 120px;
	background-color: black;
	opacity: 0.3;
}

.shape7:hover {
  background-color: #BCE9F7;
}

.shape8 {
	position: absolute;
	top: 70px;
	left: 700px;
	width: 180px;
	height: 120px;
	background-color: black;
	opacity: 0.4;
}

.shape8:hover {
  background-color: #BCE9F7;
}

.container3 {
	width: 600px;
	height: 120px;
	background-color: black;
	position: absolute;
	top:-30px;
	left: 570px;
	opacity: 0.3;
}

.container3:hover {
  background-color: #BCE9F7;
}
 


.shape9 {
	width:590px;
	height: 20px;
	background-color: black;
	position: absolute;
	top: 80px;
	left: 830px;
	opacity: 0.5;
}

.shape9:hover {
  background-color: #4CA6BD
} 
 
.shape10 {
	position: absolute;
	top: -10px;
	left: 10px;
	width: 650px;
	height: 150px;
	background-color: black;
	opacity: 0.3;
}

.shape10:hover {
  background-color: #BCE9F7;
}
 
.shape11 {
	position: absolute;
	top: 45px;
	left: 635px;
	width: 70px;
	height: 120px;
	background-color: black;
	opacity: 0.4;
}

.shape11:hover {
  background-color: #2F678F;
}

.shape12 {
	position: absolute;
	top: 70px;
	left: 700px;
	width: 180px;
	height: 120px;
	background-color: black;
	opacity: 0.5;
}

.shape12 {
  background-color: #BCE9F7;
}
 .container4 {
	width: 1000px;
	height: 20px;
	background-color: black;
	position: absolute;
	top:210px;
	left: 570px;
	opacity: 0.4;
}

.container4:hover {
 background-color: #BCE9F7; 
}
 
.shape13 {
	width:90px;
	height: 120px;
	background-color: black;
	position: absolute;
	top: 190px;
	left: 930px;
	opacity: 0.6;
}

.shape13:hover {
  background-color: #2F678F;
}
 
.shape14 {
	position: absolute;
	top: -10px;
	left: 610px;
	width: 50px;
	height: 150px;
	background-color: black;
	opacity: 0.2;
}

.shape14 {
  background-color: #343D55;
}
 
.shape15 {
	position: absolute;
	top: -5px;
	left: 835px;
	width: 70px;
	height: 200px;
	background-color: black;
	opacity: 0.5;
}

.shape15:hover {
  	background-color: #BCE9F7;
}

.shape16 {
	position: absolute;
	top: 70px;
	left: 00px;
	width: 180px;
	height: 120px;
	background-color: black;
	opacity: 0.5;
}

.shape16:hover {
  background-color: #4CA6BD;
}

#trapezoid {
	border-bottom: 150px solid black;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	height: 0;
	width: 300px;
position: absolute;
	top: 200px;
	left: 1035px;
	opacity: 0.7;
}



#trapezoid1 {
	border-bottom: 150px solid black;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	height: 0px;
	width: 300px;
position: absolute;
	top: 150px;
	left: 690px;
	opacity: 0.5;
}


  
  #trapezoid2 {
	border-bottom: 150px solid black;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
height: 0px;
	width: 300px;
position: absolute;
	top: 300;
	left: -80px;
	opacity: 0.7;
}




* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}




.art-canvas{
  width: 400px;
  height: 460px;
  margin: auto;
  padding: 10px;
  position: relative;

  
}
.block-1{
  width: 100px;
  height: 200px;
  border: 1px #ffffff;
}
.block-2{
  width: 100px;
  height: 200px;
  border: 2px dotted #952D1A;
  
}
.block-3 {
  width: 100px;
  height: 140px;
  border: 10px ridge;
  background: #EF5D30;
  position: absolute;
  margin-top: -70px;
  margin-left: -90px
}


.block-4 {
  margin: 10px 90px;
  width: 290px;
  height: 110px;
  border: 5px double black;
  position: absolute;
  margin-top: -410px;
 
  
}

.block-6{
  width: 70px;
  height: 70px;
  border: 10px solid black;
  position: absolute;
  margin: -10px 310px;
  
}


.block-8{
  width: 70px;
  height: 80px; 
  position: absolute;
  margin: 50px 310px;
  background: #8CB58C;
}


.block-9{
  width: 340px;
  height: 640px; 
  border: 1px double #174D68;
  position: absolute;
  margin: 50px 310px;
  margin-top: -325px;
 margin-left: -300px;
 
}

.block-10{
  width: 190px;
  height: 20px; 
  background: #9B9B9B;
  margin-top: -290px;
  margin-left: 200px;
}



.block-12{
  width: 300px;
  height: 14px; 
  border: 2px dotted #952D1A;
  margin-top: 130px;
  margin-left: 400px;
}

.block-13{
  width: 600px;
  height: 14px; 
  background: black;
  margin-top: 5px;
  margin-left: 400px;
}



.block-14{
  width: 600px;
  height: 80px; 
  background: #952D1A;
  margin-right: -10px;
  
}

.block-11{
  width: 100px;
  height: 200px;
  
}

  
}
.block-31 {
  width: 50px;
  height: 90px;
  border: 10px ridge;
  background: #174D68;
  margin-top: -300px;
  margin-left: -120px
}
.block-41 {
  margin: 10px 90px;
  width: 290px;
  height: 310px;
  border: 5px double black;
  position: absolute;
  margin-top: -410px;
 
  
}

.block-61{
  width: 70px;
  height: 70px;
  border: 70px dotted black;
  position: absolute;
  margin: -10px 310px;
  
}


.block-81{
  width: 70px;
  height: 80px; 
  position: absolute;
  margin: 30px 310px;
  background: #8CB58C;
}


.block-91{
  width: 340px;
  height: 40px; 
  border: 3px outset black;
  position: absolute;
  margin: 50px 310px;
  margin-top: -385px;
 margin-left: -300px;
}

.block-101{
  width: 290px;
  height: 120px; 
  
  margin-top: -290px;
  margin-left: 100px;
  border: 30px dashed
  #EF5D30;
}

.block-111{
  width: 300px;
  height: 14px; 
  background: #8CB58C;
  margin-top: -120px;
  margin-left: 400px;
}

.block-121{
  width: 300px;
  height: 14px; 
  border: 2px dotted #952D1A;
  margin-top: 130px;
  margin-left: 400px;
}

.block-131{
  width: 1000px;
  height: 14px; 
  background: #1B4B4F;
  margin-top: 50px;
  margin-left: 80px;
}

.block-133{
  width: 1000px;
  height: 14px; 
  background: #1B4B4F;
  margin-top: 50px;
  margin-left: 80px;
}



.block1{
  width: 450px;
  height:30px;
  border: 14px #EF5D30 solid;
  margin-top: -700px;
  margin-left: 800px;
 
  

}

.block2{
  width: 110px;
  height: 590px;
  margin-top: -400px;
  margin-left: 1140px;
  border: 12px #1B4B4F double;
  background: transparent;
  
}

.block3 {
  margin: 10px
  width: 60px;
  height: 410px;
  border: 5px double black;
  position: absolute;
  margin-left: 1195px;
 
  
}

.block4 {
  width: 50px;
  height: 90px;
  border: 10px ridge;
  background: #174D68;
  margin-left: 1100px;
  margin-top: -360px
}
.block5 {
  margin: 10px 90px;
  width: 490px;
  height: 60px;
  border: 3px dotted black;
  position: absolute;
  margin-left: 400px;
  margin-top: 240;
 
  
}

.block6 {
    
  width: 290px;
  height: 610px;
  border: 5px #8CB58C groove;
  position: absolute;
  margin-left: 1000px;
  margin-top: -270px;
  
}

.block7 {
 
  width: 5px;
  height: 340px;
  border: 3px double black;
 margin-left: 1295px;
 margin-top: 290;
 
  
}

.block8 {
  width: 80px;
  height: 1000px; 
  margin-left: 650px;
  margin-top: -1400px;
  border: 38px #C9B8FF dashed;
}

.block18{
   display:block;
   width: 346px;
   height: 200px;
   border: 25px #8E4A00 ridge;
   background-color: black;
   border-radius: 50%  50%  50%  50%  / 60%   60%   40%  40%;
   margin-top: 70px;
   margin-left: 900px;
  
}

.block9{
  width: 290px;
  height: 120px; 
  margin-top: -600px;
  margin-left: 650px;
  border: 13px groove #9B9B9B
  ;
}

.block10 {
  width: 900px;
  height: 400px;
  border: 35px #C9B8FF solid;
  margin-top: 690px;
  margin-left: -190px ;
}

.block28 {
  
  width: 750px;
  height: 300px;
  border: 5px black double;
  margin-top: -600px;
  margin-left: 400px ;
  
}

.block11 {
 border-bottom: 100px solid #FFDB06;
	border-left: 50px solid #FFDB06;
	height: 1200;
	width: 100px;
	margin-left: 1200px;
  margin-top: -900px;
	
}

.block12 {
   display:block;
   width: 146px;
   height: 260px;
   background-color: #952D1A;
   
   border-radius: 50%  50%  50%  50%  / 60%   60%   40%  40%;
   margin-top: -700px;
   margin-left: 1000px;
}

.block13 {
   display:block;
   width: 346px;
   height: 20px;
   border: 5px #8E4A00 solid;
   background-color: white;
   border-radius: 50%  50%  50%  50%  / 60%   60%   40%  40%;
   margin-top: -200px;
   margin-left: 900px;
}

.block14 {
   display:block;
   width: 146px;
   height: 160px;
   border: 12px #952D1A double;
   border-radius: 50%  50%  50%  50%  / 60%   60%   40%  40%;
   margin-top: -300px;
   margin-left: 600px;
}

.block15 {
   display:block;
   width: 346px;
   height: 20px;
   background-color: #8E4A00;
   
   border-radius: 20%  30%  40%  50%  / 60%   60%   40%  40%;
   margin-top: -230px;
   margin-left: 1300px;
}

.block16 {
  width: 400px;
  height: 30px; 
  background: white;
  margin-left: 1400px;
  margin-top: -100px;
  border: 30px #1B4B4F dashed;
}

.block17{
  width: 600px;
  height: 14px; 
  background: black;
  margin-top: 15px;
  margin-left: 1400px;
}




.block21 {
  margin: 10px 90px;
  width: 290px;
  height: 310px;
  border: 5px double black;
  position: absolute;
  margin-top: -800px;
  margin-left: 1400px;
 
  
}

.block22{
  width: 70px;
  height: 70px;
  border: 7px dotted black;
  position: absolute;
  margin-top: -700px;
  margin-left: 1000px;
  
}



.block24{
  width: 340px;
  height: 40px; 
  border: 3px outset black;
  position: absolute;
  margin: 50px 310px;
  margin-top: -785px;
 margin-left: 1300px;
}

.block25{
  width: 300px;
  height: 120px; 
  
  margin-top: -500px;
  margin-left: 1190px;
  border: 20px ridge
  #EF5D30;
}

.block26{
  width: 340px;
  height: 40px; 
  border: 3px outset black;
  position: absolute;
  margin: 50px 310px;
  margin-top: -385px;
 margin-left: -300px;
}

.block180{
   display:block;
   width: 250px;
   height: 446px;
   border: 25px #8E4A00 ridge;
   background-color: #BCE9F7;
   border-radius: 50%  50%  50%  50%  / 60%   60%   40%  40%;
	margin-top: 660px;
	margin-left: 955px;
	opacity: 0.8
  
}







